body {
  margin: 0;

  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #ffffff;

  background-color: #849d8f;
}

a {
  color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.searching-content,
.modal-login,
.feedback-window,
.sub-menu,
.window-basket {

  display: none;
}

.main-navigation {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: #ffffff;

}

.user-navigation {

  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.site-navigation,
.navigation {
  list-style-type: none;
}

.site-navigation a:hover,
.site-navigation a:focus,
.navigation a:hover,
.navigation a:focus {
  color: #000000;
  background-color: #ffffff;
}

.active {
  background-color: #d07058;
}

.phone {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
}

.phone a {
  text-decoration: none;
}

.working-hours {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.info-company {
  color: #323232;

  background-image: url(../img/slice_1.png);
  background-repeat: repeat;
}

.info-company h1 {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.info-company p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

article {
  color: #323232;

  background-image: url(../img/strawberry-fons.png);
  background-repeat: no-repeat;
}

article>p {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.link-article a {
  color: #323232;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.link-article a:hover,
.link-article a:focus {
  color: #ffbc9e;
}

.newsletter {
  color: #848483;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;

  background-color: #f8f7f4;
}

.button-send {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #fefefe;

  background-color:#e95038;
}

.social-botton {
  text-decoration: none;
}

.social-footer ul {
  list-style-type: none;
}

.footer-navigation a {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.main-footer a:hover,
.main-footer a:focus {
  color: #ffbc9e;
}

.first-child a {
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
}

.footer-copyright {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.crumbs {
  list-style-type: none;
}

.crumbs a {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #ffffff
}

.crumbs a:hover,
.crumbs a:focus {
  color: #ffbc9e;
}

h1 {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}

.catalog-list {
  list-style-type: none;
}

.catalog a {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.catalog a:hover,
.catalog a:focus {
  color: #ffbc9e;
}

.catalog-price {
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
}

.catalog-price>span {
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
}
