body {
  margin: 0 auto;

  font-family: 'Roboto', Tahoma, Geneva, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #ffffff;
  background-color: #849d8f;
}

/*
* {
  outline: 1px solid red;
} */

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #ffffff;
  box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1145px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 27px;
  padding-right: 27px;
}

.main-heder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.main-navigation {
  padding-top: 10px;

  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.user-navigation {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;

  align-items: flex-start;
}

.navigation {
  display: flex;
  justify-content: flex-end;
}

.contacts {
  padding: 0;
  margin: 0;
  margin-top: -3px;
  width: 170px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.site-navigation {
  padding-left: 10px;
  padding-bottom: 5px;
  display: flex;
  justify-content: flex-start;
}

.site-navigation a {
  padding: 6px 13px;
  margin-right: 2px;
  box-sizing: border-box;
}

.navigation a {
  display: block;
  padding-left: 45px;
  padding-right: 17px;
  padding-top: 9px;
  padding-bottom: 9px;
  margin-left: 8px;

  text-decoration: none;
  border-radius: 50px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
}

.navigation .button-searching {
  position: relative;
  width: 33px;
  height: 33px;
  padding: 0;
}

.button-searching svg {
  position: absolute;
  top: 8px;
  left: 8px;
}

.button-searching span {
  display: none;
}

.navigation a:hover {
  color: black;
  background-color: #f8f7f4;
}

.button-searching:hover path,
.button-searching:focus path,
.login-link:hover path,
.login-link:focus path,
.button-basket:hover path,
.button-basket:focus path,
.button-basket:hover circle,
.button-basket:focus circle {
  fill: #383838;
}

.login-link {
  position: relative;
}

.login-link svg {
  position: absolute;
  left: 25px;
  top: 7px;
}

.button-basket,
.button-basket-goods {
  position: relative;

  padding: 7px;
  box-sizing: border-box;
}

.button-basket svg,
.button-basket-goods svg {
  position: absolute;
  top: 7px;
  left: 16px;
}

.searching {
  position: relative;
  box-sizing: border-box;
}

.searching-content {
  display: none;
  position: absolute;
  top: 37px;
  right: 0px;
  padding: 20px 23px;
  z-index: 1;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.modal-searching {
  width: 296px;
  min-height: 45px;
  padding-left: 6px;

  border: 1px solid #d3d3d3;
  border-radius: 5px;
  box-sizing: border-box;
}

.searching:hover .searching-content,
.searching:focus .searching-content {
  display: block;
}

.login-link {
  position: relative;
}

.modal-login {
  display: none;
  position: absolute;
  top: 40px;
  right: 0;
  padding: 20px 18px;
  z-index: 1;

  background-color: #f8f7f4;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.modal-login a {
  padding: 0;

  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #323232;
  text-decoration: underline;
}

.modal-login a:hover,
.modal-login a:focus {
  color: #ffbc9e;
}

.login-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.button-entrance {
  width: 105px;
  margin-top: 20px;
  padding: 15px 25px;
  border-radius: 90px;
  border: none;

  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #f8f7f4;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
}

.button-entrance:hover,
.button-entrance:focus {
  opacity: 0.8;
  box-shadow: 0 2px 2px #ac1000;
  transition-duration: 0.2s;
}

.login-mail,
.login-password {
  width: 240px;
  height: 45px;
  padding-left: 15px;

  border: 1px solid #d3d3d3;
  border-radius: 5px;
}

.login-password {
  margin-top: 20px;
}

.container-modal {
  margin-top: 20px;
}

.login-link:hover .modal-login,
.login-link:focus .modal-login {
  display: block;
}

.basket-goods {
  position: relative;
}

.window-basket {
  min-width: 520px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
  z-index: 1;

  position: absolute;
  top: 40px;
  right: 0;
  padding: 20px 15px;

  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  color: #323232;
  border-radius: 5px;
}

.window-basket-wrapper {
  display: none;
}

.basket-goods:hover .window-basket-wrapper {
  display: flex;
}

.selected-item {
  display: flex;
  justify-content: baseline;
}

.name-item-basket {
  display: flex;
  align-content: space-between;
  align-items: baseline;

  color: #323232;
  font-weight: 400;
  line-height: 16px;
}

.selected-item img {
  align-self: center;
  padding-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.quantity-item {
  padding-right: 25px;
  padding-left: 25px;
}

.price-item {
  padding-right: 10px;
}

.quantity-item-opacity {
  opacity: 0.6;
}

.button-delete {
  position: relative;
  width: 15px;
  height: 15px;

  padding: 0;
  margin-right: 15px;
  margin-top: 15px;

  font-size: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.delete {
  position: absolute;
  right: 7px;
  top: 2px;
  width: 15px;
  height: 15px;
}

.delete:hover {
  opacity: 1;
}

.delete:before,
.delete:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 11px;
  width: 1px;
  background-color: #231f20;
}

.delete:before {
  transform: rotate(45deg);
}

.delete:after {
  transform: rotate(-45deg);
}

.total-price {
  color: #323232;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
}

.total-price::after {
  content: "";
  position: absolute;

  top: 130px;
  right: 15px;

  width: 520px;
  height: 1px;

  background-color: #cacac7;
}

.button-order {
  margin: 0;
}

.window-basket .button-element {
  box-shadow: 0 1px 2px #ac1000;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  padding: 15px 13px;
}

.window-basket .button-element:hover {
  opacity: 0.8;
  color: #ffffff;
  box-shadow: 0 2px 2px #ac1000;
  transition-duration: 0.2s;
}

.button-active:active {
  box-shadow: inset 0 2px 2px #942718;
  background-color: #ffffff;
  background-image: linear-gradient(to top, #f26843 0%, #e74a35 100%);
}

.site-navigation,
.navigation {
  position: relative;
  list-style-type: none;
  margin: 0px;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #000000;
  background-color: #ffffff;
  border-radius: 50px;
  text-decoration: none;
}

.site-navigation a:active {
  color: #000000;
  box-shadow: inset 0 2px 1px #696969;
  background-color: #ffffff;
  text-decoration: none;
}

.sub-menu {
  position: absolute;
  top: 30px;
  left: 0px;
  display: none;
  margin: 0;
  padding: 0;

  overflow: hidden;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #f8f7f4;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  list-style-type: none;
  z-index: 1;
}

.sub-menu a {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  display: block;
  text-decoration: none;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 14px;
  padding-top: 12px;
  margin: 0;

  background-color: #f8f7f4;
  color: black;
}

.new {
  position: relative;
}

.new a {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;

  box-sizing: border-box;
}

.new::after {
  content: "";

  position: absolute;
  top: 41px;
  left: 11px;
  height: 1px;
  width: 128px;
  background-color: #d1d0ce;
}

.catolog-menu:hover .sub-menu {
  display: block;
}

.sub-menu a:hover,
.sub-menu a:focus {
  border-radius: 0;
  background-color: #fbded7;
  box-shadow: none;
}

.sub-menu a:active {
  background-color: #f6b5a5;
}

.active {
  padding: 8px 10px;
  background-color: #d07058;
  border-radius: 50px;
}

.working-hours {
  width: 151px;
}

.phone {
  margin: 0px;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
}

.phone a {
  text-decoration: none;
}

.working-hours {
  margin: 0;
  padding-bottom: 3px;

  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.info-company {
  margin-bottom: 40px;
  padding-left: 20px;
  padding-top: 25px;
  color: #323232;

  background-image: url(../img/slice_1.png);
  background-repeat: repeat;
  border-radius: 15px;

  display: flex;
  flex-wrap: wrap;
}

.info-company h2 {
  margin: 0;
  padding-bottom: 20px;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.2px;
}

.inner p {
  width: 476px;

  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.inner .advantage-icon1,
.inner .advantage-icon2 {
  margin-bottom: 0;
  padding-bottom: 20px;
}

.inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 25px;
}

.advantage {
  margin: 0;
  position: relative;
  padding-left: 30px;
  padding-top: 1px;
}

.advantage::after {
  content: "";

  width: 50px;
  height: 50px;

  position: absolute;
  top: -12px;
  left: -31px;

  background-image: url("../img/ice-cream.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.advantage-icon4::after {
  content: "";

  width: 50px;
  height: 50px;

  position: absolute;
  top: -12px;
  left: -27px;

  background-image: url("../img/thermometer.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.advantage-icon3::after {
  content: "";

  width: 50px;
  height: 50px;

  position: absolute;
  top: -12px;
  left: -30px;

  background-image: url("../img/eco.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.advantage-icon2::after {
  content: "";

  width: 50px;
  height: 50px;

  position: absolute;
  top: -13px;
  left: -27px;

  background-image: url("../img/cow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.wrap {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.article {
  width: 540px;
  min-height: 220px;

  margin: 0;
  padding-left: 20px;

  color: #323232;

  background-image: url(../img/strawberry-fons.png);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.article .title-article {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  padding-top: 25px;
  margin: 0;
}

.link-article {
  margin: 0;
}

.link-article a {
  color: #323232;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;

  margin: 0;
}

.link-article a:hover,
.link-article a:focus {
  color: #ffbc9e;
}

.grad {
  width: 550px;
  padding: 5px;
  border-radius: 15px;
  background-image: repeating-linear-gradient(135deg, #f8f7f4, #f8f7f4 7px, #94ceff 7px, #94ceff 14px, #f8f7f4 14px, #f8f7f4 21px, #fe9e90 21px, #fe9e90 28px);
}

.newsletter {
  margin: 0;
  padding-top: 30px;
  padding-left: 21px;
  padding-bottom: 32px;

  color: #848483;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;

  background-color: #f8f7f4;
  border-radius: 15px;
}

.news-text {
  margin: 0;
  padding-bottom: 30px;
}

.newsletter input {
  width: 350px;
  border-radius: 5px;
  border: 1px solid #d7d7d7;

  padding-left: 15px;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-right: 9px;
}

.button-send {
  padding: 14px 19px;
  border-radius: 90px;
  border: none;

  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #fefefe;

  background-color: #e95038;
  color: #f8f7f4;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
}

.button-send:hover,
.button-send:focus {
  opacity: 0.8;
  box-shadow: 0 2px 2px #ac1000;
  transition-duration: 0.2s;
}

.button-send:active {
  background-image: linear-gradient(to top, #f26843 0%, #e74a35 100%);
  box-shadow: inset 0 2px 2px #942718;
}

.main-footer {
  padding-bottom: 40px;
}

.social-botton {
  position: relative;

  text-decoration: none;
  font-size: 0;
  padding-left: 5px;
}

.social-botton-tw::after {
  content: "";

  position: absolute;
  width: 39px;
  height: 39px;

  top: 3px;
  left: 0;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;

  background-image: url(../img/twitter.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.social-botton-in::after {
  content: "";

  position: absolute;
  width: 39px;
  height: 39px;

  left: 44px;
  top: 3px;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  background-image: url(../img/instagram.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.social-botton-fb::after {
  content: "";

  position: absolute;
  width: 39px;
  height: 39px;

  left: 88px;
  top: 3px;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  background-image: url(../img/fb.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.social-botton-vk::after {
  content: "";

  position: absolute;
  width: 39px;
  height: 39px;

  left: 132px;
  top: 3px;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  background-image: url(../img/vk.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.social-botton:hover::after {
  content: "";

  position: absolute;
  width: 39px;
  height: 39px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.social-botton:active::after {
  content: "";

  position: absolute;
  width: 39px;
  height: 39px;

  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
}

.icon-heart {
  position: relative;
}

.icon-heart::before {
  content: "";

  width: 15px;
  height: 13px;
  position: absolute;
  left: -22px;
  top: 7px;

  background-image: url(..//img/heart.svg);
}

.social-footer {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-top: 15px;
}

.social-footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.social {
  width: 120px;
  display: flex;
  padding: 27px 20px;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
}

.social-footer .footer-navigation {
  width: 315px;
  height: 45px;
  margin-top: 12px;
  margin-left: 83px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.element-one,
.element-two {
  padding: 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.element-three,
.element-four {
  padding-left: 22px;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.element-one,
.element-three {
  line-height: 18px;
  padding-top: 5px;
}

.main-footer a:hover,
.main-footer a:focus {
  color: #ffbc9e;
}

.icon-heart a {
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
}

.footer-copyright {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.logo-html {
  padding-left: 3px;
}

.footer-copyright p {
  margin: 0;
}

.box {
  display: flex;
  justify-content: flex-end;
}

.box-catalog {
  display: flex;
  justify-content: space-between;
  align-content: stretch;
}

.crumbs {
  padding: 0;
  margin: 0;
  list-style-type: none;

  align-self: flex-end;

  display: flex;
  flex-direction: row;
}

.crumbs li {
  position: relative;
  padding-right: 20px;
}

.element-crumbs::before {
  content: "\BB";
  text-align: center;
  vertical-align: middle;
  color: #ffffff;

  width: 8px;
  height: 8px;

  position: absolute;
  top: 5px;
  right: 6px;
}

.crumbs a {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #ffffff
}

.crumbs a:hover,
.crumbs a:focus {
  color: #ffbc9e;
}

.title {
  margin: 0;
  margin-bottom: 30px;
  padding-top: 1px;

  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}

.catalog-list {
  padding: 0;
  margin-bottom: 40px;

  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-item {
  position: relative;
  width: 267px;
  margin-bottom: 39px;
}

.catalog a {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.catalog-price {
  position: absolute;
  left: 0;
  top: 165px;

  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-price>span {
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
}

.feedback-window {
  position: absolute;
  top: 100px;
  left: 385px;

  display: none;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 24px;
  padding-right: 25px;
  padding-bottom: 27px;

  background-color: #f8f7f4;
  border-radius: 15px;
}

.feedback-open {
  display: block;
  width: 478px;
  max-height: 460px;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;

  animation: appearance 0.5s;
  position: fixed;
  z-index: 10;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;

  display: none;
  width: 100%;
  height: 100%;
  z-index: 5;

  background-color: rgba(0, 0, 0, 0.4)
}

.overlay-on {
  display: block;
}

@keyframes appearance {
  0% {
    transform: translateX(-400px);
  }

  20% {
    transform: translateX(40px);
  }

  40% {
    transform: translateX(80px);
  }

  60% {
    transform: translateX(10px);
  }

  80% {
    transform: translateX(20px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes error {
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateY(10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}


.feedback-error {
  animation: error 0.6s;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.feedback-window h2 {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 24px;

  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  color: #323232;
}

.feedback-window input {
  width: 267px;

  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 15px;
  margin-bottom: 20px;

  border-radius: 5px;
  border: 1px solid #d7d7d7;
}

.feedback-window textarea {
  width: 428px;
  padding-top: 11px;
  padding-left: 15px;
  padding-bottom: 125px;
  margin-bottom: 25px;
  resize: none;

  border-radius: 5px;
  border: 1px solid #d7d7d7;
}

.button-close {
  position: absolute;
  right: 5px;
  top: 5px;

  font-size: 0;
  border: 0;
  background-color: transparent;

  cursor: pointer;
}

.button-close {
  content: "";
  width: 18px;
  height: 18px;

  position: absolute;
  top: 15px;
  right: 15px;

  background-image: url(..//img/cross-big.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.button-send {
  align-self: flex-end;
}

.hit-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;

  list-style: none;
}

.hit-list a {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.hit-list span {
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
}

.catalog-item {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
}

.bnt-view {
  display: none;
  position: absolute;
  bottom: -60px;
  left: 40px;
  z-index: 2;

  padding: 13px 17px;

  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;

  border-radius: 50px;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  box-shadow: 0 2px 2px rgba(85, 8, 0, 0.54);
}

.bnt-view:hover {
  background-image: linear-gradient(to top, #e67060 0%, #f38567 100%);
  box-shadow: 0 1px 2px #ac1000;
  transition-duration: 0.2s;
}

.bnt-view:active {
  background-image: linear-gradient(to top, #f26843 0%, #e74a35 100%);
  box-shadow: inset 0 2px 2px #942718;
}

.name-item:hover,
.name-item:focus,
.name-item:active {
  color: #ffbc9e;
}

.catalog-item h3 {
  margin: 0;
  text-align: center;
  padding-left: 7px;
  padding-top: 6px;
  padding-right: 4px;
}

.catalog-item-last {
  padding-bottom: 23px;
}

.catalog-item-img {
  margin: 0;
}

.hit-item::after {
  content: "";
  width: 61px;
  height: 61px;

  position: absolute;
  top: 0;
  left: 0;

  border-radius: 50%;
  background-image: url(../img/hit.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-item:before {
  content: "";
  position: absolute;
  top: -6px;
  left: -13px;
  display: none;

  z-index: 1;
  width: 293px;
  height: 405px;

  background-color: rgba(246, 250, 247, 0.226);
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.catalog-item:hover::before {
  display: block;
}

.catalog-item:hover .bnt-view {
  display: block;
}

.section-action {
  display: flex;
  justify-content: space-between;
}

.conteainer-action {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 540px;
  margin-bottom: 40px;

  padding-left: 18px;
  padding-top: 17px;
  padding-bottom: 0;

  border-radius: 15px;
  background-size: cover;
}

.conteainer-action h3 {
  margin: 0;
  padding-bottom: 15px;

  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}

.action-text {
  padding-bottom: 57px;
  padding-right: 16px;
  margin: 0px;

  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.wrapper-bnt-action {
  margin: 0px;
  margin-right: 21px;
  padding-bottom: 35px;

  font-weight: 700;
  font-size: 18px;
  line-height: 22px;

  align-self: flex-end;
}

.bnt-action {
  padding: 12px 22px;

  color: #ffffff;
  text-decoration: none;

  border-radius: 50px;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  box-shadow: 0 2px 2px rgba(85, 8, 0, 0.54);
}

.bnt-action:hover {
  background-image: linear-gradient(to top, #e67060 0%, #f38567 100%);
  box-shadow: 0 1px 2px #ac1000;
  transition-duration: 0.2s;
}

.bnt-action:active {
  background-image: linear-gradient(to top, #f26843 0%, #e74a35 100%);
  box-shadow: inset 0 2px 2px #942718;
}

.action-raspberry {
  background-image: url(../img/raspberry-fon.png);
  background-repeat: no-repeat;
}

.action-chocolate {
  background-image: url(../img/chocolate-fon.png);
  background-repeat: no-repeat;
}

.maps {
  min-width: 1200px;
  min-height: 430px;

  background-image: url(../img/maps.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto auto;
}

.wrap-maps {
  position: relative;
}

.section-contacts {
  position: absolute;
  right: 25px;
  top: 65px;

  width: 255px;
  padding-left: 25px;
  padding-right: 23px;
  padding-top: 25px;
  padding-bottom: 40px;

  color: #323232;

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

  background-color: #fffffe;
  border-radius: 15px;
}

.section-contacts h3 {
  margin: 0;

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.section-contacts p {
  margin: 0;
}

.for-orders {
  padding-top: 18px;
}

.address-phone {
  padding-top: 3px;

  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.wrapper-bnt-contacts {
  margin: 0;
  padding-top: 37px;
}

.bnt-contacts {
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 28px;
  padding-right: 28px;

  color: #fefefe;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;

  border-radius: 50px;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  box-shadow: 0 2px 2px rgba(85, 8, 0, 0.54);
}

.bnt-contacts:hover {
  background-image: linear-gradient(to top, #e67060 0%, #f38567 100%);
  box-shadow: 0 1px 2px #ac1000;
  transition-duration: 0.2s;
}

.bnt-contacts:active {
  background-image: linear-gradient(to top, #f26843 0%, #e74a35 100%);
  box-shadow: inset 0 2px 2px #942718;
}

.section-contacts::before {
  content: "";
  position: absolute;
  left: -607px;
  bottom: 86px;

  z-index: 2;

  width: 220px;
  height: 145px;


  background-image: url(../img/branded-marker.png);
  background-repeat: no-repeat;
  background-position: center;
}

.site-wrap {
  min-width: 940px;
  background-color: #849d8f;
  background-image: url(..//img/slide-1.png);
  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.slider {
  position: relative;

  padding-top: 278px;

  text-align: center;
  color: #ffffff;

  padding-bottom: 40px;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;

  font-size: 60px;
  line-height: 60px;
  font-weight: 800;

  z-index: 20;
}

.button-s {
  display: inline-block;
  padding: 12px 44px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.button-s:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  transition-duration: 0.2s;
}

.button-s:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls {
  position: absolute;
  bottom: 61px;
  left: 0;
  z-index: 3;

  font-size: 0;
}

.slide {
  display: none;
}

#product-1:checked~.site-wrap {
  background-color: #849d8f;
  background-image: url(../img/slide-1.png);
}

#product-2:checked~.site-wrap {
  background-color: #8996a6;
  background-image: url(../img/slide-2.png);
}

#product-3:checked~.site-wrap {
  background-color: #9d8b84;
  background-image: url(../img/slide-3.png);
}

#product-1:checked~.site-wrap #slide1,
#product-2:checked~.site-wrap #slide2,
#product-3:checked~.site-wrap #slide3 {
  display: block;
}

#product-1:checked~.site-wrap label[for="product-1"],
#product-2:checked~.site-wrap label[for="product-2"],
#product-3:checked~.site-wrap label[for="product-3"] {
  background-color: #ffffff;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  margin-bottom: 40px;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
  margin-right: 14px;
}

legend,
label {
  color: #ffffff;
}

.form-select {
  margin: 0;
  height: 30px;

  padding-left: 16px;
  padding-right: 23px;
  margin-bottom: 8px;

  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;

  border: none;
  border-radius: 50px;
  background-color: rgba(229, 238, 236, 0.5);
}

.form-select:hover,
.form-select:focus {
  color: #323232;
}

.filter-input {
  margin: 0;
  padding: 0;
}

.filter-checkbox,
.fieldset-radio {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: space-between;
}

.filter {
  display: flex;
}

.fieldset-radio {
  min-width: 350px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 46px;
  padding-right: 17px;
  margin-bottom: 8px;

  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;

  border-radius: 50px;
  background-color: rgba(229, 238, 236, 0.5);
  border: 1px solid transparent;
}

.fieldset-radio label,
.filter-checkbox label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-input-radio+label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -30px;

  width: 16px;
  height: 16px;

  border: 3px solid #ffffff;
  border-radius: 50%;
  opacity: 0.8;
}

.filter-input-radio:checked+label::after {
  content: "";

  position: absolute;
  top: 7px;
  left: -23px;

  width: 8px;
  height: 8px;

  background-color: #ffffff;
  border-radius: 50%;
  opacity: 0.8;
}

.filter-input-radio:hover+label::before,
.filter-input-radio:checked:hover+label::after,
.filter-input-radio:focus+label::before,
.filter-input-radio:checked:focus+label::after {
  opacity: 1;
}

.filter-input-radio:active+label::before,
.filter-input-radio:checked:active+label::after {
  opacity: 0.4;
}

.filter-checkbox {
  min-width: 640px;

  padding-top: 8px;
  padding-bottom: 5px;
  padding-left: 44px;
  padding-right: 15px;

  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;

  border-radius: 50px;
  background-color: rgba(229, 238, 236, 0.5);
  border: 1px solid transparent;
}

.filter-input-checkbox+label::before {
  content: "";

  position: absolute;
  top: -3px;
  left: -34px;

  width: 27px;
  height: 23px;
  ;

  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}

.filter-input-checkbox:checked+label::after {
  content: "";

  position: absolute;
  top: -3px;
  left: -32px;

  width: 27px;
  height: 23px;

  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}

.filter-input-checkbox:hover+label::before,
.filter-input-checkbox:checked:hover+label::after,
.filter-input-checkbox:focus+label::before,
.filter-input-checkbox:checked:focus+label::after {
  opacity: 1;
}

.filter-input-checkbox:active+label::before,
.filter-input-checkbox:checked:active+label::after {
  opacity: 0.4;
}

.bnt-filter {
  min-width: 144px;
  height: 36px;
  margin-top: 25px;

  font-size: 16px;
  font-weight: 500;
  line-height: 18px;

  border-radius: 50px;
  background-color: rgba(229, 238, 236, 0.5);
  border: 2px solid #ffffff;

  color: #ffffff;
  text-align: center;
}

.bnt-filter:hover,
.bnt-filter:focus {
  background-color: #ffffff;
  color: #323232;
}

.bnt-filter:active {
  box-shadow: inset 0 2px 1px #696969;
  background-color: #ededed;
  color: #323232;
}

.page-selector-list {
  margin: 0;
  padding: 0;
  
  margin-right: 22px;
  margin-bottom: 30px;

  position: relative;

  display: flex;
  list-style: none;
  justify-content: flex-end;
}
.page-selector-list::before {
  content: "";

  position: absolute;
  top: 53px;

  width: 1146px;
  height: 1px;

  background-color: #ffffff;
  opacity: 0.3;
}

.bnt-page-selector{
  display: block;
}

.page-active {
  padding: 5px 10px;

  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #323232;
  text-decoration: none;

  background-color: #ffffff;
  border-radius: 50px;
}
.bnt-page-selector {
  padding: 4px 8px;
  margin-right: 4px;

  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-decoration: none;
}

.bnt-page-back::before {
  content: "";

  position: absolute;
  top: 8px;
  right: 160px;

  transform: rotate(180deg);
  opacity: 0.5;

  width: 8px;
  height: 12px;

  background-image: url(../img/icon-right-small.svg);
  background-repeat: no-repeat;
  background-position: center;

}

.bnt-page-next::after {
  content: "";

  position: absolute;
  top: 8px;
  right: -23px;


  width: 8px;
  height: 12px;

  background-image: url(../img/icon-right-small.svg);
  background-repeat: no-repeat;
  background-position: center;

}

.bnt-page-back,
.bnt-page-next {
  font-size: 0;
}