body {
  margin: 0;

  font-family: 'Roboto', Tahoma, Geneva, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #ffffff;

  background-color: #849d8f;
}

a {
  color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.searching-content,
.modal-login,
.feedback-window,
.sub-menu,
.window-basket {
  display: none;
}

.box {
  width: 1146px;
  margin: 0 auto;
  padding: 0;
}

.main-heder {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.main-navigation {
  width: 573px;
  padding-top: 10px;

  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: #ffffff;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  order: 1;
}

.user-navigation {
  width: 573px;
  padding-top: 10px;

  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.contacts {
  padding: 0px;
  margin: 0;
  margin-right: 0px;
  width: 170px;

  order: 4;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-navigation li {
  display: inline;
  padding-left: 10px;
}

.site-navigation ul {
  padding-left: 24px;
}

.site-navigation li {
  padding-right: 24px;
  margin: 0;
  display: inline;
}

.site-navigation,
.navigation {
  list-style-type: none;
  margin: 0px;
}

.site-navigation a:hover,
.site-navigation a:focus,
.navigation a:hover,
.navigation a:focus {
  color: #000000;
  background-color: #ffffff;
}

.active {
  background-color: #d07058;
}

.working-hours {
  width: 151px;
  margin: 0;
  margin-bottom: 10px;
}

.phone {
  margin: 0px;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
}

.phone a {
  text-decoration: none;
}

.working-hours {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.info-company {
  margin-bottom: 40px;
  color: #323232;

  background-image: url(../img/slice_1.png);
  background-repeat: repeat;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.info-company h1 {
  width: 1013px;
  padding-left: 20px;

  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.info-company p {
  width: 476px;
  padding-left: 76px;


  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.info-company .advantage-icon4,
.info-company .advantage-icon2 {
  padding-left: 0;
  padding-right: 30px;
}

.wrap {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.article {
  width: 560px;
  margin: 0;

  color: #323232;

  background-image: url(../img/strawberry-fons.png);
  background-repeat: no-repeat;
}

.article p {
  padding-left: 10px;
}

.article .title-article {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.link-article a {
  color: #323232;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.link-article a:hover,
.link-article a:focus {
  color: #ffbc9e;
}

.newsletter {
  width: 550px;
  padding: 0;
  margin: 0;

  color: #848483;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;

  background-color: #f8f7f4;
}

.button-send {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #fefefe;

  background-color: #e95038;
}

.social-botton {
  text-decoration: none;
}

.social-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-footer ul {
  list-style-type: none;
  padding: 0;
}

.footer-navigation {
  width: 310px;
  display: flex;
  flex-flow: row wrap;
}

.navigation-group1 {
  margin-left: 30px;
}

.footer-navigation a {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.main-footer a:hover,
.main-footer a:focus {
  color: #ffbc9e;
}

.icon-heart a {
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
}

.footer-copyright {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.box-crumbs {
  width: 975px;
  order: 5;
  align-self: flex-end;
}

.crumbs {
  padding: 0;
  margin: 0;
  list-style-type: none;

  display: flex;
  flex-direction: row;
}

.crumbs li {
  padding-right: 20px;
}

.crumbs a {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #ffffff
}

.crumbs a:hover,
.crumbs a:focus {
  color: #ffbc9e;
}

.title {
  margin: 0;

  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}

.catalog-list {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.catalog-item {
  width: 267px;
  margin-bottom: 40px;

}

.catalog a {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.catalog a:hover,
.catalog a:focus {
  color: #ffbc9e;
}

.catalog-price {
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
}

.catalog-price>span {
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
}
